body{
	background: #B3F6F0;
}
p{
	color: #8424C4;
}

div{
	color: #5862E1;
}



/*COMENTARIOS*/

h1{
	font-size: 55px;
}



#links{ font-size: 10px;

		background:#CDABF8 

 }