extends layout

block content
	div(class="col-xs-12 col-sm-8 col-md-10" id="pagError")
		div.row
			
			h1=mensajeError
			h1="Oh no! Un error salvaje ha aparecido!"
			h3="Pero no te preocupes, snorlax usa relax & code para resolverlo"
			img(src="/images/snorlax.jpg")
			p="...no es muy efectivo"
			a(href="/") Desea volver?

