*{
	margin: 0;
}

header{
	background: black;
	height: auto;
}
h1{
	color: white;
	padding-top: 20px;
}

nav{
	margin-bottom: 20px;
	margin-top: 10px;
}

.doscuadros{
/*	display: table-cell;*/
	background: purple;
	/*width: 250px;*/
	height: 75px;
/*	margin: 50px;*/
	
}

.uncuadro{
	background: blue;
	width: auto;
	height: 100px;
	margin-top: 4px;
	margin-bottom: 4px;
	
}

.trescuadros{
	/*display: table-cell;*/
	background: green;
/*	width: 250px;*/
	height: 150px;
	/*margin: 50px;*/
	
}

section div.ancho{
	width: 49.7%;
	display: inline-block;
}


section div.ancho2{
	width: 33%;
	display: inline-block;
}


.rectangulo{
	background: yellow;
	width: auto;
	height: 150px;
	margin-top: 4px;
	margin-bottom: 4px;
	
}



.clearfix{
	overflow: auto;
}

img{
	float: left;
}

.imgright{
	float: right;
}

p{
	padding-top: 30px;
}


.btn{
	background-color: darkorange;
	color: white;
	border: none;
	margin-bottom: 20px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;

}