 *{
	margin-top: 10px;
} 

body{
	border-style: solid;
	border-color: lightblue;
	width: 300px;
}

img{
	width: 200px;
	border-style: solid;
	border-width: 8px;
	border-color: lightgrey;
	border-radius: 50%;

}

.clearfix{
	overflow: auto;
}

h1{
	color: darkorange;
	font-family: verdana;
	/*font-weight: bold;*/
}

h2{
	font-family: verdana;
	font-weight: normal;

}

.btn{
	background: none;
	border: none;
}

a{
	margin: 10px;
}