 *{
	margin-top: 10px;
} 

body{
	border-style: solid;
	border-color: lightblue;
	width: 300px;
}

.avatar{
	width: 200px;
	border-style: solid;
	border-width: 8px;
	border-color: lightgrey;
	border-radius: 50%;
/*	position: relative;*/

}

.chiqui{
	width: 40px;
	height: 40px;
	border-style: solid;
	border-width: 5px;
	border-color: lightgrey;
	border-radius: 50%;
	position: absolute;
	top: 205px;
	left: 205px;

}


.clearfix{
	overflow: auto;
}

h1{
	color: darkorange;
	font-family: verdana;
	/*font-weight: bold;*/
}

h2{
	font-family: verdana;
	font-weight: normal;

}

.btn{
	background: none;
	border: none;
}

a{
	margin: 10px;
}